@import "tailwindcss";

:root {
  color-scheme: dark;

  --background: #02040a;
  --foreground: #ededed;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  color: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground) !important;
  font-family: Arial, Helvetica, sans-serif;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
