@import "tailwindcss";

:root {
  color-scheme: dark;

  --background: #02040a;
  --foreground: #ededed;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  color: inherit;
}

body {
  background: var(--background);
  color: var(--foreground) !important;
  font-family: Arial, Helvetica, sans-serif;
}
